:root {
  --main-bg-color: #68a13d;
  --secondary-button-color:  #9bac39;
  --primary-button-color: rgba(0, 120, 0, 0.5);
}

body{
  background-size: cover;
  background-color: var(--main-bg-color);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}


.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin-bottom: 5%;
}

.Admin button, select, input[type=file]::file-selector-button, input[type="datetime-local"] {
  background-color: var(--primary-button-color);
  border: none;
  padding: 10px;
  margin: 5px;
}
.Admin button:hover, select:hover, input[type=file]::file-selector-button:hover, input[type="datetime-local"]:hover {
  background-color: var(--secondary-button-color);
}
.FormContainer {
  margin-left: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.FormContainer p {
  padding-bottom: 20px;
}

.FormContainer span {
  color: black;
}

.picks-form-nav button {
  background-color: var(--primary-button-color);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin-left: 10px;
}

.picks-form-nav button:hover {
  background-color: var(--secondary-button-color);
}

.QuestionWithTwoButtons {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.Question-Description {
  margin-bottom: 5px;
}

.QuestionWithTwoButtons button {
  border: none;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  width: 190px;
  margin-left: 2px;
  color: rgb(0, 0, 0);
}

.option-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-button-color);
  border: 1px solid #ccc;
  cursor: pointer;
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
}

.option-button:hover {
  background-color: rgba(0, 120, 0, 0.99);
}

.option-button.selected {
  background-color: rgba(0, 120, 0, 0.99);
  color: white;
}

.option-button.unselected {
  background-color: rgba(120, 0, 0, 0.99);
  color: white;
}

.option-button.selected span {
  color: white;
}

.option-button.unselected span {
  color: white;
}

.option-button img {
  height: 70px;
  margin: 0 auto;
  padding: 0px;

}

.RankPicks {
  display: flex;
  flex-wrap: wrap;
}

.Matchup{
  display: flex;
  margin-right: 10px;
}

.ranked-ranks label {
  background-color: var(--primary-button-color);
  color: rgb(255, 255, 255);
  padding: 3px;
  border: none;
  border-radius: 20%;
}

.ranked-ranks ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  list-style: none;
  padding: 0;
  width: fit-content;
  margin: 0;
  text-align: left;
}

.ranked-ranks li {
  padding: 10px;
  background-color: rgb(231, 223, 217);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 12px;
}

.ranked-ranks li.dragged {
  background-color:var(--primary-button-color);
  opacity: 0.7;
  color: white;
}

.ranked-ranks li.empty {
  background-color: transparent;
  border: none;
}

.warning {
  color: rgb(255, 0, 0);
}

.player-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--primary-button-color);
  table-layout: fixed; /* Ensure fixed layout for table */
}

.player-table th, .player-table td {
  padding: 8px;
  border: 1px solid var(--primary-button-color);
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Add ellipsis (...) when text overflows */
  min-width: 150px; /* Set a minimum width for the columns */
  max-width: 150px; /* Set a maximum width for the columns */
  text-align: center; /* Ensure text is centered */
}



.weekly-leaderboard{
  min-width: 1400px;
}


.table-header {
  background-color: var(--primary-button-color);
  color: black;
  padding: 10px;
  border: 1px solid var(--primary-button-color);
  min-width: 150px;
  max-width: 150px;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Add ellipsis (...) when text overflows */
}


.navbar-offset-container {
  margin-top: 70px;
  padding-bottom: 300px;
}

.rules h2 {
  text-decoration: underline;
}

.rules h1 {
  text-decoration: underline;
  text-align: center;
}

.rules h3 {
  text-align: center;
  font-style: italic;
}

.rules {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 900px;
  margin-bottom: 10%;
}

.rules li {
  margin-top: 20px;
}

.italic-text {
  font-style: italic;
}

.bold-text {
  font-weight: bold;
}

.indented-text {
  margin-left: 25px;
}

.underline-text {
  text-decoration: underline;
}

.complimentary-close {
  float: right;
}

.main-logo {
  display: flex;
  justify-content: center;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.end-of-form {
  margin-left: 5%;
  margin-top: 5%;
}

.end-of-form ul {
  list-style: none;
}

.SignIn,
.SignUp,
.Forgotpassword {
  margin-left: 5%;
  margin-top: 5%;
}

.SignIn input,
.SignUp input,
.Forgotpassword input {
  font-size: large;
  margin-bottom: 10px;
}


.profile-info {
  display: flex;
  flex-direction: column;

}
.profile-picture {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.account {
  flex: 2;
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin: 50px auto;
  background-color: #77AA4F;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
}



.account img {
  height: 200px;
  width: 200px;
  margin-bottom: 30px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.account h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
}

.account p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

.user-attribute {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.user-attribute-label-left {
  font-weight: bold;
  color: #333;
  margin-right: 20px;
  flex: 1;
  text-align: left;
  text-wrap: nowrap;
}
.profile-picture .user-attribute-label-right {
  margin-right: 30%;
}

.user-attribute-label-right {
  color: #555;
  flex: 2;
  text-align: right;
}

.user-attribute input[type="text"] {
  flex: 2;
  padding: 8px;
  font-size: 0.9rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Buttons */
.account button {
  background-color: var(--primary-button-color);
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 0;
  width: 100%;
}


.account button:hover {
  background-color: var(--secondary-button-color);
}

.account button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* Email Verification */
.verification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.verification-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.verification-container button {
  background-color: var(--primary-button-color);
  width: auto;
}

.verification-container button:hover {
  background-color: var(--secondary-button-color);
}

/* Mobile Responsive */
@media (max-width: 600px) {
  .weekly-leaderboard .table-header, .player-table .table-header{
    height: 100px;
    white-space: wrap;
    padding: 0px;
  }
  
  .account {
    padding: 20px;
    margin: 20px;
    flex-direction: column;
  }
  .account img {
    height: auto;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  .user-attribute {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-attribute-label {
    margin-bottom: 5px;
  }

  .user-attribute label,
  .user-attribute input[type="text"] {
    text-align: left;
  }

  .account button {
    padding: 10px;
    font-size: 0.9rem;
  }
}

.sign-out-button {
  margin-left: 5%;
}

.chart-tabs button{
  background-color: var(--secondary-button-color);
  border: none;
  padding: 1rem;
  color: black;
  font-size: large;
}

.chart-tabs button:hover{
  background-color: var(--primary-button-color);
}

.chart-tabs .active{
  background-color: var(--primary-button-color);
}
.week-select {
  padding: 8px;
  background-color: var(--primary-button-color);
  cursor: pointer;
  border: none;
  box-shadow: none;
}

.week-select:focus {
  outline: none;
}

/* Style options */
.week-select option {
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left-section,
.right-section {
  width: 48%; /* Adjust width as needed, ensuring they don't add up to more than 100% */
}

.bottom-section {
  width: 100%; /* Full width */
}

/* Add some additional styling to clearly see the layout */
.left-section,
.right-section,
.bottom-section {
  border: 1px solid #ccc; /* Just for visibility */
  padding: 10px;
  box-sizing: border-box;
}
.matchups-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}

.matchup-column {
  width: 50%;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .matchups-container {
      flex-direction: column;
  }
  .matchup-column {
      width: 100%;
  }
}


/*
Mobile specific CSS
*/







@media (max-width: 1000px) {
  .FormContainer {
    margin-left: 2%;
    margin-bottom: 20%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .FormContainer h1 {
    font-size: x-large;
  }

  .FormContainer h3 {
    font-size: large;
  }

  .FormContainer select {
    font-size: medium;
  }

  .FormContainer p {
    padding-bottom: 20px;
    font-size: medium;
  }

  .FormContainer form {
    font-size: medium;
  }

  .picks-form-nav button {
    background-color: var(--primary-button-color);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    border-radius: 12px;
    margin-left: 10px;
  }

  .picks-form-nav button:hover {
    background-color: var(--secondary-button-color);
  }

  .QuestionWithTwoButtons {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  }

  .QuestionWithTwoButtons button {
    border: none;
    font-size: small;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    width: 175px;
  }

  .option-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
    padding-bottom: 10px;
  }

  .option-button.selected {
    background-color: rgba(0, 120, 0, 0.99);
  }

  .option-button.selected span {
    color: white;
  }

  .option-button img {
    height: 50px;
    margin: 0 auto;
    padding: 0px;

  }

  .ranked-ranks label {
    background-color: var(--primary-button-color);
    color: rgb(255, 255, 255);
    padding: 3px;
    border: none;
    border-radius: 20%;
  }

  .ranked-ranks ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    list-style: none;
    padding: 0;
    width: fit-content;
    margin: 0;
    text-align: left;
    font-size: medium;
  }

  .ranked-ranks li {
    padding: 15px;
    background-color: rgb(231, 223, 217);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
  }

  .ranked-ranks li.dragged {
    background-color: var(--secondary-button-color);
    opacity: 0.7;
    color: white;
  }

  .ranked-ranks li.empty {
    background-color: transparent;
    border: none;
  }

  .warning {
    color: red;
  }

  .navbar-offset-container {
    margin-top: 80px;
    min-height: 90vh;
  }

  .home-screen {
    align-items: center;
  }

  .main-logo img {
    width: 85%;
  }

  .home-screen h1 {
    font-size: x-large;
  }

  .SignIn,
  .SignUp,
  .Forgotpassword {
    margin-left: 5%;
    margin-top: 10%;
  }

}

.Game-Results {
  margin-left: 50px;
}
.Game-Results button {
  background-color: var(--primary-button-color);
  border: none;
  padding: 10px;
  margin: 5px;
}
.Game-Results button:hover {
  background-color: var(--secondary-button-color);
}

.Result-Games {
  display: flex;
  flex-wrap: wrap;
  
}

.Result-Games .QuestionWithTwoButtons {
  margin-left: 50px;
  margin-bottom: 40px;
}

@media (min-width: 1000px) {
  .Matchup {
    margin-right: 30px;
  }
}
.weekly-picks {
  padding-right: 40px;
  padding-left: 20px;
}
.weekly-picks tr {
  margin: 0;
  padding: 0;
  border-spacing: 0;
}

.weekly-picks td {
  margin: 0;
  padding: 0;
  border-spacing: 0;
}

.weekly-picks div {
  margin: 0;
  padding: 0;
}

.correct {
  background-color: rgba(0, 120, 0, 1);
}

.incorrect {
  background-color: rgba(190, 5, 5, 1);
}

.undecided {
  background-color: var(--secondary-button-color);
}


